body {
	background: #282c34;
	margin: 0;
	font-family: 'Heebo';
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	min-height: 100vh;
	margin: auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	background: #282c34;
	padding: 16px 24px;
	flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
	.header {
		padding: 16px 0;
	}
}

.navigation {
	display: flex;
	align-items: baseline;
}

h1 {
	color: #abb2bf;
	font-weight: normal;
	margin: 0;
	font-size: 1.5rem;
}

.navigation a {
	color: #61afef;
	margin: 0 1rem 0 0;
	font-size: 0.875rem;
	text-decoration: none;
}

.navigation a:last-child {
	margin: 0;
}


.console {
	flex-grow: 1;
	font-family: 'Source Code Pro';
	box-sizing: border-box;
	width: 100%;
	background: #ffffff02;
	color: #abb2bf;
	padding: 1rem;
	font-size: 0.75rem;
	overflow: auto;
	line-height: 1.4;
}

.console .error {
    color: #e06c75;
}

.btn {
    background: #61AFEF;
    border: 0;
    padding: 1rem 1rem;
    font-size: 1.125rem;
    color: #282c33;
    cursor: pointer;
    outline: none;
    transition: all 0.2s;
		font-weight: 500;
		font-family: inherit;
}

.btn:hover {
		background: #81bef3;
}

.dropzone {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
    background: #e0eaf3;
    cursor: pointer;
    transition: background 0.3s;
    text-align: center;
}

.dropzone::after {
    position: absolute;
    content: '';
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px; 
    border: 2px dashed #00000033;
    transition: all 0.2s;
}

.dropzone.is-dragover {
    background: #ffffff;
}

.dropzone.is-dragover::after {
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px; 
}

.dropzone__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.dropzone__file {
    font-size: 0.875rem;
}
